<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>ButlerToken</servlet-name>
		<display-name>ButlerToken</display-name>
		<description>ButlerToken to capture access_token</description>
		<servlet-class>ButlerToken.ButlerToken</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ButlerToken</servlet-name>
		<url-pattern>/butlertoken</url-pattern>
	</servlet-mapping>
	

  
</web-app>
